Link Relation Type IANA expert review

On Fri, Aug 23, 2024 at 5:35 PM Roy T. Fielding  wrote:
> On Aug 23, 2024, at 5:00 PM, Mark Nottingham wrote:
>
> Hi David,
>
> The registration template in the draft doesn't contain the fields required by RFC8288 - it needs to be updated.

I guess Mark means that the link relation in 6.2 is using the header field template instead of the link relation template in RFC8288 (same information, different template fields).

The header field definition in 6.1 seems to be okay.

I encourage the authors to make RFC8594 (Sunset) a normative reference, since a normative requirement is placed upon its usage in combination with Deprecation. In effect, this spec updates 8594 and that should be noted in the document metadata.

....Roy



On Fri, Aug 23, 2024 at 11:26 PM Julian Reschke wrote:
On 24.08.2024 08:21, Mark Nottingham wrote:
> If it's using Structured Fields, it shouldn't be using ABNF.

It currently says in
<https://www.ietf.org/archive/id/draft-ietf-httpapi-deprecation-header-05.html#name-syntax>:

> The Deprecation response header field describes the deprecation of the resource identified with the response it occurred within (see Section 6.4.2 of [HTTP]). It conveys the deprecation date, which may be in the future (the resource context will be deprecated at that date) or in the past (the resource context has been deprecated at that date). Deprecation is an Item Structured Header [RFC8941]. Refer to Section 3.3.7 of [STRUCTURED-FIELDS] for ABNF of sf-date:

So what would need to be removed is the mention of "ABNF".

Best regards, Julian


>>> On 24 Aug 2024, at 9:23 AM, David Dong via RT <[drafts-expert-review-comment@iana.org](mailto:drafts-expert-review-comment@iana.org)> wrote:
>>>
>>> Dear Mark Nottingham, Roy Fielding (cc: httpapi WG),
>>>
>>> As the designated experts for the Hypertext Transfer Protocol (HTTP) Field Name Registry registry, can you review the proposed registration in draft-ietf-httpapi-deprecation-header-05 for us? Please see
>>>
>>> https://datatracker.ietf.org/doc/draft-ietf-httpapi-deprecation-header/
>>>
>>> The due date is September 6th.
>>>
>>> If this is OK, when the IESG approves the document for publication, we'll make the registration at:
>>>
>>> https://www.iana.org/assignments/http-fields/
>>>
>>> Unless you ask us to wait for the other reviewer, we’ll act on the first response we receive.
>>>
>>> With thanks,
>>>
>>> David Dong
>>> IANA Services Sr. Specialist
>>


@mnot @reschke @royfielding

draft 06 published

On Wed, Sep 4, 2024 at 4:12 PM Mark Nottingham wrote:
Hello,

The template needs to have a 'Structured Field' field with a value of 'Item'.

Also, there are no 'Change Controller', 'Author', or 'Protocol' fields in the registry.

Cheers,


Re: [IANA #1372825] expert review for draft-ietf-httpapi-deprecation-header (http-fields)

On Wed, Sep 4, 2024 at 4:12 PM Mark Nottingham wrote:
Hello,

The template needs to have a 'Structured Field' field with a value of 'Item'.

Also, there are no 'Change Controller', 'Author', or 'Protocol' fields in the registry.

Cheers,

On Wed, Sep 4, 2024 at 10:23 PM Mark Nottingham wrote:
Looks good, thanks!

> On 5 Sep 2024, at 10:55 AM, Sanjay Dalal <[sanjay.dalal@cal.berkeley.edu](mailto:sanjay.dalal@cal.berkeley.edu)> wrote:
>
> Thanks Mark.
>
> Please chekc https://github.com/ietf-wg-httpapi/deprecation-header/blob/main/draft-ietf-httpapi-deprecation-header.md. Once you are ok, I will publish a new draft.