Artart review

@reschke 

On Tue, Sep 10, 2024 at 3:04 AM Julian Reschke via Datatracker <noreply@ietf.org> wrote:
Reviewer: Julian Reschke
Review result: Ready with Nits

Nits:

General:

there's an *enormous* amount of repetition in the text. For instance, how many
times does it say that the deprecation might be in the future or the past?

Also, see end of Section 2.1.

Section 2.1

Cites both the approved spec 8941bis and RFC 8941.

"Deprecation = sf-date"

comes surprising now that the ABNF reference is gone. Maybe just pull it into
the prose, otherwise people not aware of ABNF might not know what this means.

Example: maybe use UTC instead of GMT?

Section 3

Introduction should link to RFC 8288.

Section 4

"different data type" - the type actually is almost the same; maybe "format"
would be clearer

Section 6

Micro-nit: the templates use artwork format, they should be lists (will likely
done by RFC Editor though)

Section 8.1

The reference to RFC 9111 is only used in the implementation report, so by
definition it can't be normative. I'd even remove it altogether from the
reference section, given the fact the the implementation appendix will be
removed.

Section 8.2

For the same reason, I'd remove the reference to RFC7942.

>Section 2.1
>Cites both the approved spec 8941bis and RFC 8941.

@reschke The date SF field is not in 8941. It is in bis only. Let me know what I am missing.

All other suggested changes in the next commit.

>there's an enormous amount of repetition in the text. For instance, how many
times does it say that the deprecation might be in the future or the past?

I searched for "past". 2 times we mention it. In 2.1 Syntax and in 3.1 for example. Let me know what you found repeated. Thanks. 

8941bis  obsoletes 8941. There's no point in citing both. Just use 8941bis for all references.

Another case of repetition:

"Refer to Section 3.3.7 of [STRUCTURED-FIELDS] for sf-date"

followed by

"The date is the date when the resource was or will be deprecated. It is in the form of an Structured Field Date as defined in Section 3.3.7 of STRUCTURED-FIELDS]."

@reschke lmk if it works now. thanks.